[Desktop Entry]
Version=1.0
Name=Eclipse Mars (GTK2)
GenericName=Eclipse
Comment=IDE for Java development. Launcher uses GTK2 library
Exec=notify-send 'Exec section is unset' -i error -c error -u low
Terminal=false
Icon=/opt/eclipse/icon.xpm
Type=Application
Categories=Application;Development;Java;IDE;
X-Desktop-File-Install-Version=0.22
